/DesktopApplications/TaskOrganizer/.vs/
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/.suo
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/.suo
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/Server/sqlite3/storage.ide
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/Server/sqlite3/storage.ide-shm
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/Server/sqlite3/storage.ide-wal
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/.suo
/DesktopApplications/TaskOrganizer/bin/Debug/TaskOrganizer.exe
/DesktopApplications/TaskOrganizer/bin/Debug/TaskOrganizer.pdb
/DesktopApplications/TaskOrganizer/obj/Debug/CoolStyle.baml
/DesktopApplications/TaskOrganizer/obj/Debug/GeneratedInternalTypeHelper.g.cs
/DesktopApplications/TaskOrganizer/obj/Debug/MainWindow.baml
/DesktopApplications/TaskOrganizer/obj/Debug/MainWindow.g.cs
/DesktopApplications/TaskOrganizer/obj/Debug/MainWindow.g.i.cs
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.csproj.CoreCompileInputs.cache
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.csproj.FileListAbsolute.txt
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.csprojAssemblyReference.cache
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.exe
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.g.resources
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.pdb
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer_MarkupCompile.cache
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer_MarkupCompile.i.cache
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer_MarkupCompile.i.lref
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer_MarkupCompile.lref
/DesktopApplications/TaskOrganizer/obj/Debug/View/MainWindow.g.i.cs
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/.suo
/DesktopApplications/TaskOrganizer/.vs/TaskOrganizer/v16/Server/sqlite3/storage.ide
/DesktopApplications/TaskOrganizer/obj/Debug/App.baml
/DesktopApplications/TaskOrganizer/obj/Debug/CoolStyle.baml
/DesktopApplications/TaskOrganizer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DesktopApplications/TaskOrganizer/obj/Debug/MainWindow.baml
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.csproj.CoreCompileInputs.cache
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer.csprojAssemblyReference.cache
/DesktopApplications/TaskOrganizer/obj/Debug/TaskOrganizer_MarkupCompile.cache
/DesktopApplications/TcpCommunicator/TcpClient/bin/Debug/netstandard2.0/TcpClientApp.deps.json
/DesktopApplications/TcpCommunicator/TcpClient/bin/Debug/netstandard2.0/TcpClientApp.dll
/DesktopApplications/TcpCommunicator/TcpClient/bin/Debug/netstandard2.0/TcpClientApp.pdb
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.AssemblyInfo.cs
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.AssemblyInfoInputs.cache
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.assets.cache
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.csproj.CoreCompileInputs.cache
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.csproj.FileListAbsolute.txt
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.csprojAssemblyReference.cache
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.dll
/DesktopApplications/TcpCommunicator/TcpClient/obj/Debug/netstandard2.0/TcpClientApp.pdb
/DesktopApplications/TcpCommunicator/TcpClient/obj/project.assets.json
/DesktopApplications/TcpCommunicator/TcpClient/obj/TcpClientApp.csproj.nuget.cache
/DesktopApplications/TcpCommunicator/TcpClient/obj/TcpClientApp.csproj.nuget.dgspec.json
/DesktopApplications/TcpCommunicator/TcpClient/obj/TcpClientApp.csproj.nuget.g.props
/DesktopApplications/TcpCommunicator/TcpCommunicator/.vs/TcpCommunicator/DesignTimeBuild/.dtbcache
/DesktopApplications/TcpCommunicator/TcpCommunicator/.vs/TcpCommunicator/v16/.suo
/DesktopApplications/TcpCommunicator/TcpCommunicator/.vs/TcpCommunicator/v16/Server/sqlite3/storage.ide
/DesktopApplications/TcpCommunicator/TcpCommunicator/.vs/TcpCommunicator/v16/Server/sqlite3/storage.ide-shm
/DesktopApplications/TcpCommunicator/TcpCommunicator/.vs/TcpCommunicator/v16/Server/sqlite3/storage.ide-wal
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/Microsoft.Win32.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/netstandard.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.AppContext.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Collections.Concurrent.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Collections.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Collections.NonGeneric.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Collections.Specialized.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.ComponentModel.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.ComponentModel.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.ComponentModel.TypeConverter.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Console.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Data.Common.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.Contracts.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.Debug.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.Process.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.StackTrace.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.Tools.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.TraceSource.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Diagnostics.Tracing.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Drawing.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Dynamic.Runtime.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Globalization.Calendars.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Globalization.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Globalization.Extensions.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.Compression.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.Compression.ZipFile.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.FileSystem.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.FileSystem.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.FileSystem.Watcher.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.IsolatedStorage.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.MemoryMappedFiles.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.Pipes.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Linq.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Linq.Expressions.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Linq.Parallel.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Linq.Queryable.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.Http.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.NameResolution.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.NetworkInformation.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.Ping.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.Requests.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.Security.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.Sockets.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.WebHeaderCollection.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.WebSockets.Client.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Net.WebSockets.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.ObjectModel.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Reflection.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Reflection.Extensions.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Reflection.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Resources.Reader.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Resources.ResourceManager.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Resources.Writer.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.Extensions.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.Handles.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.InteropServices.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.Numerics.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.Serialization.Formatters.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.Serialization.Json.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.Serialization.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Runtime.Serialization.Xml.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.Claims.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.Cryptography.Algorithms.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.Cryptography.Csp.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.Cryptography.Encoding.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.Cryptography.Primitives.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.Principal.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Security.SecureString.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Text.Encoding.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Text.Encoding.Extensions.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Text.RegularExpressions.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Threading.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Threading.Overlapped.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Threading.Tasks.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Threading.Tasks.Parallel.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Threading.Thread.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Threading.ThreadPool.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Threading.Timer.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.ValueTuple.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Xml.ReaderWriter.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Xml.XDocument.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Xml.XmlDocument.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Xml.XmlSerializer.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Xml.XPath.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/System.Xml.XPath.XDocument.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/TcpClientApp.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/TcpClientApp.pdb
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/TcpCommunicator.exe
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/TcpCommunicator.exe.config
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/TcpCommunicator.pdb
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/TcpServer.dll
/DesktopApplications/TcpCommunicator/TcpCommunicator/bin/Debug/TcpServer.pdb
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/App.g.cs
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/MainWindow.baml
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/MainWindow.g.cs
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/MainWindow.g.i.cs
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.csproj.CopyComplete
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.csproj.CoreCompileInputs.cache
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.csproj.FileListAbsolute.txt
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.csproj.GenerateResource.cache
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.csprojAssemblyReference.cache
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.exe
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.exe.config
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.g.resources
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.pdb
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator.Properties.Resources.resources
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator_MarkupCompile.cache
/DesktopApplications/TcpCommunicator/TcpCommunicator/obj/Debug/TcpCommunicator_MarkupCompile.lref
/DesktopApplications/TcpCommunicator/TcpServer/bin/Debug/netstandard2.0/TcpServer.deps.json
/DesktopApplications/TcpCommunicator/TcpServer/bin/Debug/netstandard2.0/TcpServer.dll
/DesktopApplications/TcpCommunicator/TcpServer/bin/Debug/netstandard2.0/TcpServer.pdb
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.AssemblyInfo.cs
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.AssemblyInfoInputs.cache
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.assets.cache
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.csproj.CoreCompileInputs.cache
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.csproj.FileListAbsolute.txt
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.csprojAssemblyReference.cache
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.dll
/DesktopApplications/TcpCommunicator/TcpServer/obj/Debug/netstandard2.0/TcpServer.pdb
/DesktopApplications/TcpCommunicator/TcpServer/obj/project.assets.json
/DesktopApplications/TcpCommunicator/TcpServer/obj/TcpServer.csproj.nuget.cache
/DesktopApplications/TcpCommunicator/TcpServer/obj/TcpServer.csproj.nuget.dgspec.json
/DesktopApplications/TcpCommunicator/TcpServer/obj/TcpServer.csproj.nuget.g.props
/WebApplications/ToDoApp/ToDoApp/bin/
/WebApplications/ToDoApp/ToDoApp/bin/
/WebApplications/ToDoApp/ToDoApp/bin/
/WebApplications/TemplateWebShop/TemplateWebShop/bin/
/WebApplications/TemplateWebShop/TemplateWebShop/bin/
/WebApplications/TemplateWebShop/TemplateWebShop/bin/
/WebApplications/ToDoApp/ToDoApp/bin/
/WebApplications/ToDoApp/ToDoApp/bin/
/WebApplications/TemplateWebShop/TemplateWebShop/bin/
/DesktopApplications/PhysicalDeviceManager/PhysicalDeviceManager/bin/
/DesktopApplications/TcpCommunicator/TcpClient/TcpClientApp/obj/
