@{
    ViewData["Title"] = "User management";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - ToDoApp</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div>USER MANAGEMENT SCREEN!</div>
        </main>
    </div>
</body>
</html>
